{
	admin off
}
localhost, 127.0.0.1, tenabl.net, www.tenabl.net {
	encode zstd gzip
	root * /www
	route /api/* {
		uri strip_prefix api
		reverse_proxy api:80 {
			header_up X-Real-IP {remote}
		}
	}
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets api:8080 {
		header_up X-Real-IP {remote}
	}
	@notApi not path /api/*
	route @notApi {
		try_files {path} /index.html
		file_server
	}
}
