.container {
    display: grid;

    width: 100vw;
    height: 100vh;

    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
}

.container-content {
    display: grid;

    justify-content: center;
    align-items: center;
    justify-items: center;

    background-color: var(--secondaryBackgroundColor);
    color: var(--primaryColor);
}