.navbar {
    background-color: var(--primaryBackgroundColor);
    min-width: 250px;
    position: relative;
}

.navbar-links {
    display: grid;

    margin-top: 150px;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px 0px;

    justify-items: center;
}

.navbar-button {
    border-radius: 5px;
    color: var(--primaryColor);
    padding: 10px 10px;
    width: 80%;
    max-height: 30px;
    text-decoration: none;
}

.navbar-button--active {
    background-color: var(--secondaryBackgroundColor);
}

.navbar-logo {
    color: var(--primaryColor);
    font-size: 24px;
    text-align: center;
    user-select: none;
}

.navbar-auth {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.navbar-auth>a {
    color: var(--primaryColor);
    cursor: pointer;
    text-decoration: underline;
}