.button {}

.button--accent {
    background-color: var(--accentColor);
    color: white;

    border: none;
    border-radius: 2px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button--size-s {
    padding: 5px 10px !important;
}

.button--size-m {
    padding: 10px 20px !important;
}

.button--size-l {
    padding: 15px 32px !important;
}

.button--size-fill {
    padding: 15px 32px;
    width: 100% !important;
}