:root {
  --dark-bg-1: #2C2C2C;
  --dark-bg-2: #393939;
  --dark-1: white;

  --light-bg-1: #C4C4C4;
  --light-bg-2: #E6E2E2;
  --light-1: #393939;

  --primaryBackgroundColor: var(--dark-bg-1);
  --secondaryBackgroundColor: var(--dark-bg-2);
  --primaryColor: var(--dark-1);
}