.form {
    max-width: 300px;

    border-radius: 15px;
    border: 1px solid var(--accentColor);
    padding: 30px;

    background-color: var(--primaryBackgroundColor);
    color: var(--primaryColor);

    box-shadow: 0px 0px 2px 2px var(--accentColor);
}

.form--profile {
    display: grid;

    grid-column-gap: 20px;

    grid-template-areas:
        "fname lname"
        "email email"
        "password password"
        "save cancel";

    background-color: inherit;
}

.form-fname {
    grid-area: fname;
}

.form-lname {
    grid-area: lname;
}

.form-email {
    grid-area: email;
}

.form-password {
    grid-area: password;
}

.form-save {
    grid-area: save;
}

.form-cancel {
    grid-area: cancel;
}


.form-anchor {
    text-decoration: underline;
    margin-top: 30px;
    cursor: pointer;
}

.form-input {
    outline: none;
    background-color: var(--primaryBackgroundColor);

    width: 100%;

    margin-top: 5px;
    margin-bottom: 15px;

    box-sizing: border-box;

    font-size: 14px;

    border-radius: 4px;
    border: 0 !important;
    border-bottom: 2px solid var(--accentColor) !important;
    padding: 8px 10px;

    color: var(--primaryColor);
}

.form-input--half {
    width: 45%;
    margin-left: 5%;
}

.form-input::placeholder {
    color: var(--primaryColor);
}